<div class="login-design">
  <div class="login-data">
    <form [formGroup]="form" (submit)="Ingresar()"  class="login-form" >
      <img src="/assets/img/logo.png" alt="Example" />
      <p>Ingresa tus datos para poder ingresar</p>

      <div class=" input-group2">
        <input type="email" id="email" placeholder="Usuario" formControlName="email" />

      </div>

      <div class=" input-group2">
        <input type="password" id="password" placeholder="Contraseña" formControlName="password" />
        <a>¿Olvidaste tu contraseña?</a>
      </div>

      <div class="ingresar">
        <button [disabled]="form.invalid" class="btn-login">Ingresar</button>
      </div>
    </form>
  </div>

  
    Valido: {{form.valid | json}}

  <div class="waves">
  </div>
</div>
